#
# USB Gadget ethernet devices are a point-to-point simulated ethernet
# Mainly this will be used to do configuration.
#
# We run a dhcp server to give addresses to the other end of the link, but we
# do not provide a gateway as we do not want to overwrite any default route
# that already exists on the other system
#

[Match]
Name=usb*
Type=gadget

[Network]
DHCPServer=yes
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=true
Address=0.0.0.0/24
#IPForward=true
#IPMasquerade=true

[DHCPServer]
EmitRouter=no

