# By default, all ethernet ports are clients trying to become our upstream
[Match]
Name=eth* en*

[Network]
DHCP=yes
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=true
