# Copyright (C) 2017 Hamish Coleman <hamish@zot.org>
# FIXME
# - on the orange pi zero I am testing (and armbian kernel 4.10.0-sun8i #8),
#   if the system boots up without the ethernet plugged in, it goes into
#   "operational off" state in networkctl with the link set to down -
#   and never comes back, regardless of the cable plug state.  performing
#   an ip link set eth0 up (cable plugged or unplugged) restores service.
#   I have also noted in previous tests that it sometimes takes two
#   "link set up" commands (with the first incurring a kernel error)
#   before the link state actually comes - so this might be related.
#   Either way, need to add a shim that does a ip link set up...
[Unit]
Description=the fix for link issues on some hardware
After=sys-subsystem-net-devices-eth0.device
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=-/sbin/ip link set eth0 up
ExecStart=-/sbin/ip link set eth0 up
# technically only one link up is needed, as networkd provides the other..
