# Copyright (C) 2017 Hamish Coleman <hamish@zot.org>
#
# If a USB gadget serial device is discovered, run a getty on it - this
# assists with seamless first-time-setup
#

SUBSYSTEM!="tty", GOTO="gadget_end"
ACTION!="add", GOTO="gadget_end"

KERNEL!="ttyGS[0-9]*", GOTO="gadget_end"

TAG+="systemd", ENV{SYSTEMD_WANTS}="serial-getty@ttyGS0.service"

LABEL="gadget_end"

